.main{
    max-height: 50vh;
}
.mainContent{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
.highlight{
    flex: 0.25;
    display: flex;
    align-items: center;
    justify-content: center;

}
.nftContainer{
    border-radius: 22px;
    overflow: hidden;
    display: flex;
    margin-right: 20px;
}
.selectedNft{
    object-fit: contain;
    max-width: min(30vw, 40vh);
    max-height: 30vw;
}
.nftDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0.75;
}
.title{
    font-size: 96px;
    font-weight: 800;
}
.itemNumber{
    color: #a1a5b0;
    font-size: 72px;
    align-self: center;
}
.owner{
    display: flex;
    margin: 10px 0;
    height: 50px;
}
.owner>div{
    margin: 0 5px;
}
.ownerImage{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-radius: 50px;
    overflow: hidden;
    object-fit: contain;
}
.ownerImage > img{
    height: 100%;
    width: 100%;
}
.ownerDetails{
    display: flex;
    align-items: center;
    flex: 1;
}
.ownerNameAndHandle{
    flex: 1;
}
.ether{
    color: white;
    font-style: italic;
    
}
.ownerHandle{
    color: #00ebfe;
}
.ownerLink{
    padding: 12px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    margin: 0 0 0 10px;
}
.ownerLink>img{
    height: 100%;
    width: 100%;
}